src/*.po
.deps
Makefile
/config.*
/stamp-h1
/po/Makefile.in
/po/POTFILES
/Robots/jBot
/Robots/perl
/Robots/perl-Skeleton
/Robots/raziel
/rtb-team-framework/config.*
/rtb-team-framework/stamp-h1
/intl/*.o
/intl/charset.alias
/intl/*.h
/intl/*.a
/intl/ref-add.sed
/intl/ref-del.sed
/Robots/**/*.o
/Robots/**/*.robot
/Robots/**/*_robot
/rtb-team-framework/**/*.o
src/*.o
src/realtimebattle